.form__button {
  display: block;
  margin-top: 47px;
  padding: 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #000000;
  border: none;
  border-radius: 2px;
  color: #fff;
}

.form__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: background .2s ease;
}

@media screen and (max-width: 540px) {
  .form__button {
    margin-top: 43px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
