.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
  flex-wrap: wrap;
}



@media screen and (max-width: 540px) {
  .profile {
    padding-top: 42px;
    justify-content: center;
  }
}
