.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
}

@media screen and (max-width: 918px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
